.add-match-container {
    display: flex;
    min-height: 100vh;
}

.add-match-main-content {
    flex: 1;
    background-color: #E1E6E1;
    min-height: 100vh;
    padding: 40px;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin 0.3s ease;
}

.match-form {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}
